<% include partials/header %>
<form action="/links" method="POST" class="form">
  <legend>Enter a URL to be condensed!   <small>your url must contain a protocol</small></legend>
  <div class="form-group">
    <input type="text" class="form-control" name="q" placeholder="Input a url here.">
  </div>
</form>
<% include partials/footer %>