<% include ../partials/header %>
<p> this is the show link page. </p>
<p><a href='http://localhost:3000/<%=url%>'>this is your encoded url: localhost:3000/<%=url%></a></p>
<% include ../partials/footer %>